<header id="header">
  <nav class="navbar navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a
          class="navbar-brand"
          href="index.html"
          style="color:  #eceff7;    font-weight: 700;font-size: 40px;"
          >Vsearchfor<span style="color:rgb(19, 218, 218)">U</span></a
        >
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#feature">Services</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <!-- <li><a href="#softskills">Soft Skills</a></li>
          <li><a href="#technical">Technical </a></li> -->
          <li><a href="#our-team">Our Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->
<div class="slider">
  <div id="about-slider">
    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators visible-xs">
        <li
          data-target="#carousel-slider"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/img/7.jpg" class="img-responsive" alt="" />
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
              <h2><span>VsearchForU is an Executive Search</span></h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <p>Making your ideas happen!</p>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
              <form class="form-inline">
                <div class="form-group">
                  <button
                    type="livedemo"
                    name="Live Demo"
                    class="btn btn-primary btn-lg"
                    required="required"
                  >
                    <a href="#feature" style="color:black">Staffing</a>
                  </button>
                </div>
                <div class="form-group">
                  <button
                    type="getnow"
                    name="Get Now"
                    class="btn btn-primary btn-lg"
                    required="required"
                  >
                    <a href="#softskills" style="color:black">Our Skills</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/img/6.jpg" class="img-responsive" alt="" />
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
              <h2>VsearchForU is an Executive Search</h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">
              <p>Making your ideas happen!</p>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
              <form class="form-inline">
                <div class="form-group">
                  <button
                    type="livedemo"
                    name="purchase"
                    class="btn btn-primary btn-lg"
                    required="required"
                  >
                    <a href="#feature" style="color:black">Staffing</a>
                  </button>
                </div>
                <div class="form-group">
                  <button
                    type="getnow"
                    name="subscribe"
                    class="btn btn-primary btn-lg"
                    required="required"
                  >
                    <a href="#softskills" style="color:black">Our Skills</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/img/1.jpg" class="img-responsive" alt="" />
          <div class="carousel-caption">
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
              <h2>VsearchForU is an Executive Search</h2>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
              <p>Making your ideas happen!</p>
            </div>
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
              <form class="form-inline">
                <div class="form-group">
                  <button
                    type="livedemo"
                    name="purchase"
                    class="btn btn-primary btn-lg"
                    required="required"
                  >
                    <a href="#feature" style="color:black">Staffing</a>
                  </button>
                </div>
                <div class="form-group">
                  <button
                    type="getnow"
                    name="subscribe"
                    class="btn btn-primary btn-lg"
                    required="required"
                  >
                    <a href="#softskills" style="color:black">Our Skills</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <a
        class="left carousel-control hidden-xs"
        href="#carousel-slider"
        data-slide="prev"
      >
        <i class="fa fa-angle-left"></i>
      </a>

      <a
        class=" right carousel-control hidden-xs"
        href="#carousel-slider"
        data-slide="next"
      >
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <!--/#carousel-slider-->
  </div>
  <!--/#about-slider-->
</div>
<!--/#slider-->

<div id="feature">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3>Services</h3>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit<br>amet consectetur adipisicing elit</p> -->
      </div>
      <div
        class="col-md-12 wow fadeInRight"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-th"></i>
            <h2 style="font-family: Arial;font-weight:600">Staffing</h2>
            <p
              style="font-family: Arial, Helvetica, sans-serif;font-size: 16px"
            >
              Keeping pace with projects and being on the look out for the
              extremely talented individuals with the right skill sets who can
              contribute to the success of the business has become ever more
              challenging. Here is where VsearchforU comes into play to bring
              the best suited talent for your company. We provide the best
              staffing service to fulfill the H.R related requirements and to
              reduce costs of employee administration. Our recruiters are
              exceptionally skilled in identifying top talent and matching them
              with the client’s needs.
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-5 wow fadeInLeft"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-users"></i>
            <h2 style="font-family: Arial;;font-weight:600">
              Temporary Staffing
            </h2>
            <p
              style="font-family: Arial, Helvetica, sans-serif ;font-size: 16px"
            >
              We provide reliable temporary staffing solutions that offer you
              the ability to build your staff strength without absorbing them
              into your company's payroll. This helps to assist overloaded
              employees during critical times, and keep projects moving.
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-7 wow fadeInRight"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-users"></i>
            <h2 style="font-family: Arial;font-weight:550 ">
              Permanent Staffing
            </h2>
            <p style="font-family: Arial ;font-size: 16px">
              In today’s marketplace, it is very important to have the right
              talent in your team. Finding the right candidate for a permanent
              position, from reviewing resumes to identifying quality
              candidates, is time consuming and potentially costly. Our staffing
              solutions give you access to fully screened and qualified
              candidates in any industry. We have a strong team of consultants
              who can work on your company's staffing needs. We ensure that we
              offer our clients the best candidates, with the fastest turnaround
              time.
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-12 wow fadeInLeft"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class=" fa fa-home"></i>
            <h2 style="font-family: Arial;;font-weight:600">Training</h2>
            <p
              style="font-family: Arial, Helvetica, sans-serif;font-size: 16px "
            >
              Training is an integral part of human resource development
              programme in any Organization. Training makes employees more
              efficient and productive. Conducting training among employees
              expedite acquisition of the knowledge, skills, and abilities
              required for effective job performance. Having a trained workforce
              means your workers are learning new skills that can improve
              production, cut time spent in creation of your product (or
              service), reduce production costs, reduce mistakes, build
              confidence in your workforce, and create a better working
              environment. Our learning facility provide you with expert
              guidance, assess your training needs and customize training in
              line with market and Industry trends. Our consultants are highly
              skilled professionals with Industrial experience.
            </p>
          </div>
        </div>

        <div id="softskills">
          <div class="container">
            <div class="pricing-area text-center">
              <div class="row">
                <div
                  class="col-sm-6 plan price-two wow fadeInDown"
                  data-wow-offset="0"
                  data-wow-delay="0.6s"
                >
                  <ul>
                    <li class="heading-two"><h2>Soft Skills</h2></li>

                    <li>Effective communication</li>
                    <li>Time Management</li>
                    <li>Leadership development</li>
                    <li>New Manager fundamentals</li>
                    <li>Project management fundamentals</li>
                    <li>Effective Presentation</li>
                  </ul>
                </div>
                <div
                  class="col-sm-6 plan price-three wow fadeInDown"
                  data-wow-offset="0"
                  data-wow-delay="0.9s"
                >
                  <ul>
                    <li class="heading-three"><h2>Technial Skills</h2></li>

                    <li>MS Office</li>
                    <li>Web Designing</li>
                    <li>Java script</li>
                    <li>Core Java</li>
                    <li>Software testing</li>
                    <li>Payroll</li>
                    <li>Fundamentals of accounting</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-window">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.2s">
        <h2>Get in Touch With US</h2>
      </div>
      <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.6s">
        <p>
          In a elit in lorem congue varius Sed nec arcu<br />
          ullamcorp-er tellus ut dignissim nisi risus non tortor.
        </p>
      </div>
    </div>
  </div>
  <div class="sub-parallax">
    <div class="text-center">
      <div class="col-md-12">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.9s">
          <form class="form-inline">
            <div class="form-group">
              <button
                type="purchase"
                name="purchase"
                class="btn btn-primary btn-lg"
                required="required"
              >
                Contact
              </button>
            </div>
            <div class="form-group">
              <button
                type="subscribe"
                name="subscribe"
                class="btn btn-primary btn-lg"
                required="required"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/#parallax-window-->

<!-- <div id="softskills">
  <div class="container">
    <div class="text-center">
      <h3>Soft Skills </h3>
      <p  style="font-family: Arial ;font-size: 16px">Employers want employees who are able to effectively interact with others. These skills are also very hard to teach, so employers want to know that job candidates already have the soft skills that enable them to be successful in the workplace.</p>
    </div>
    
    <div class="pricing-area text-center">
      <div class="row">
        <div class="col-sm-4 plan price-one wow fadeInDown" data-wow-offset="0" data-wow-delay="0.2s">
          <ul>
            <li class="heading-one">
              <h2>Effective Communication</h2>
             
            </li>
            
          </ul>
        </div>

        <div class="col-sm-4 plan price-two wow fadeInDown" data-wow-offset="0" data-wow-delay="0.6s">
          <ul>
            <li class="heading-two">
              <h2>Time Management </h2>
              
            </li>
            
          </ul>
        </div>

        <div class="col-sm-4 plan price-three wow fadeInDown" data-wow-offset="0" data-wow-delay="0.9s">
         
          <ul>
            <li class="heading-three">
              <h2>Effective Presentation </h2>
              
            </li>
            
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 plan price-four wow fadeInLeft">
          <ul>
            <li class="heading-four">
              <h2>Leadership Development</h2>
             
            </li>
            
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 plan price-five wow fadeInLeft">
          <ul>
            <li class="heading-five">
              <h2>Project management Fundamentals</h2>
             
            </li>
            
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 plan price-six wow fadeInRight">
         
          <ul>
            <li class="heading-six">
              <h2>New Manager Fundamentals</h2>

            </li>
            
          </ul>
        </div>
      </div>
    </div>
   
  </div>

</div>


<div id="technical">
  <div class="container">
    <div class="text-center">
      <h3>Technical </h3>
      <p  style="font-family: Arial ;font-size: 16px">Technical skills are the abilities and knowledge needed to perform specific tasks. They are practical, and often relate to mechanical, information technology, mathematical, or scientific tasks. Some examples include knowledge of programming languages, mechanical equipment, or tools.While technical skills are often most important for jobs related to information technology (IT) and other fields in the sciences, many other industries also want employees with at least some technical skills.</p>
    </div>

    <div class="pricing-area text-center">
      <div class="row">
        <div class="col-sm-4 plan price-one wow fadeInDown" data-wow-offset="0" data-wow-delay="0.2s">
          <ul>
            <li class="heading-one">
              <h2>MS Office</h2>
              <
            </li>
            
          </ul>
        </div>

        <div class="col-sm-4 plan price-two wow fadeInDown" data-wow-offset="0" data-wow-delay="0.6s">
          <ul>
            <li class="heading-two"> 
              <h2>Fundamentals of Accounting</h2>
              
            </li>
            
          </ul>
        </div>

        <div class="col-sm-4 plan price-three wow fadeInDown" data-wow-offset="0" data-wow-delay="0.9s">
          
          <ul>
            <li class="heading-three">
              <h2>Web Designing</h2>
             
            </li>
           
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 plan price-four wow fadeInLeft">
          <ul>
            <li class="heading-four">
              <h2>Java Script </h2>
             
            </li>
            
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 plan price-five wow fadeInLeft">
          <ul>
            <li class="heading-five">
              <h2> JAVA</h2>
             
            </li>
            
          </ul>
        </div>

        <div class="col-sm-6 col-md-4 plan price-six wow fadeInRight">
         
          <ul>
            <li class="heading-six">
              <h2>Software  Testing</h2>
              
            </li>
            
          </ul>
        </div>
      </div>
    </div>
   
  </div>

  
</div> -->
<!--/#pricing Softskill-->

<div id="gallery">
  <div class="container">
    <div class="text-center">
      <h3>Gallery</h3>
      <p style="font-family: Arial ;font-size: 16px">
        Here are some photos of our compnay of work. I am very proud of their
        work. Very nice.
      </p>
    </div>
    <div class="row">
      <figure class="effect-chico">
        <div
          class="col-md-3 wow fadeInUp"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <a href="assets/img/work/1.jpg" class="flipLightBox">
            <img src="assets/img/work/1.jpg" class="img-responsive" alt="" />
          </a>
        </div>
      </figure>
      <figure class="effect-chico">
        <div
          class="col-md-3 wow fadeInUp"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <a href="assets/img/work/2.jpg" class="flipLightBox">
            <img src="assets/img/work/2.jpg" class="img-responsive" alt="" />
          </a>
        </div>
      </figure>
      <figure class="effect-chico">
        <div
          class="col-md-3 wow fadeInDown"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <a href="assets/img/work/3.jpg" class="flipLightBox">
            <img src="assets/img/work/3.jpg" class="img-responsive" alt="" />
          </a>
        </div>
      </figure>
      <figure class="effect-chico">
        <div
          class="col-md-3 wow fadeInDown"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <a href="assets/img/work/4.jpg" class="flipLightBox">
            <img src="assets/img/work/4.jpg" class="img-responsive" alt="" />
          </a>
        </div>
      </figure>
    </div>
  </div>
  <div class="gallery">
    <div class="container">
      <div class="row">
        <figure class="effect-chico">
          <div
            class="col-md-3 wow fadeInUp"
            data-wow-offset="0"
            data-wow-delay="0.3s"
          >
            <a href="assets/img/work/5.jpg" class="flipLightBox">
              <img src="assets/img/work/5.jpg" class="img-responsive" alt="" />
            </a>
          </div>
        </figure>
        <figure class="effect-chico">
          <div
            class="col-md-3 wow fadeInUp"
            data-wow-offset="0"
            data-wow-delay="0.3s"
          >
            <a href="assets/img/work/6.jpg" class="flipLightBox">
              <img src="assets/img/work/6.jpg" class="img-responsive" alt="" />
            </a>
          </div>
        </figure>
        <figure class="effect-chico">
          <div
            class="col-md-3 wow fadeInDown"
            data-wow-offset="0"
            data-wow-delay="0.3s"
          >
            <a href="assets/img/work/7.jpg" class="flipLightBox">
              <img src="assets/img/work/7.jpg" class="img-responsive" alt="" />
            </a>
          </div>
        </figure>
        <figure class="effect-chico">
          <div
            class="col-md-3 wow fadeInDown"
            data-wow-offset="0"
            data-wow-delay="0.3s"
          >
            <a href="assets/img/work/8.jpg" class="flipLightBox">
              <img src="assets/img/work/8.jpg" class="img-responsive" alt="" />
            </a>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
<!--/#gallery-->

<div id="our-team">
  <div class="container">
    <div class="text-center">
      <h3>Our Team</h3>
      <p style="font-family: Arial ;font-size: 16px">
        The VsearchForU is composed of five teams, each with its own area of
        responsibility, that work synergistically to further our mission. These
        teams are Business Development, Communities, Digital & Brand and
        Journal, Events, and Projects. Each team is composed of a number of
        officers and led by a Chair, who sits on the executive board and
        coordinates VsearchForU strategy with the other Chairs, as well as the
        club President and Vice President. Since each team is integral to the
        successful functioning of the club, the best way to get involved with
        the VsearchForU is to join one of our teams as an officer. Descriptions
        and contact details for each team are listed below.
      </p>
    </div>
    <div class="row">
      <div
        class="col-md-4 wow fadeInUp"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <img src="assets/img/team/1.png" alt="" />
          <h2>John Doe</h2>
          <h4>Founder & CEO</h4>
          <p style="font-family: Arial ;font-size: 16px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen
            tum neque a rutrum varius
          </p>
        </div>
      </div>
      <div
        class="col-md-4 wow bounceInDown"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <img src="assets/img/team/2.png" alt="" />
          <h2>John Doe</h2>
          <h4>Creative Director</h4>
          <p style="font-family: Arial ;font-size: 16px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen
            tum neque a rutrum varius
          </p>
        </div>
      </div>
      <div
        class="col-md-4 wow fadeInUp"
        data-wow-offset="0"
        data-wow-delay="0.3s"
      >
        <div class="text-center">
          <img src="assets/img/team/3.png" alt="" />
          <h2>John Smith</h2>
          <h4>Creative Director</h4>
          <p style="font-family: Arial ;font-size: 16px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce fermen
            tum neque a rutrum varius
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="team">
    <div class="container">
      <div class="row">
        <div
          class="col-md-3 wow fadeInRight"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <div class="text-center">
            <img
              src="assets/img/team/team1.jpg"
              class="img-responsive"
              alt=""
              height="200px"
              width="200px"
            />
            <h2>John Doe</h2>
            <h4>Founder & CEO</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce
              fermen tum neque a rutrum varius
            </p>
          </div>
        </div>
        <div
          class="col-md-3 wow fadeInRight"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <div class="text-center">
            <img
              src="https://vignette.wikia.nocookie.net/differenthistory/images/3/37/Old-Businessman-PNG.png/revision/latest?cb=20180506202217"
              class="img-responsive"
              alt=""
              height="180px"
              width="180px"
            />
            <h2>John Doe</h2>
            <h4>Creative Director</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce
              fermen tum neque a rutrum varius
            </p>
          </div>
        </div>
        <div
          class="col-md-3 wow fadeInLeft"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <div class="text-center">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH-U8Na26hovyeOmHCWlSztkB3Hmm-Csgr1uOUD5zCo1dtin7poA"
              class="img-responsive"
              alt=""
            />
            <h2>John Smith</h2>
            <h4>Creative Director</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce
              fermen tum neque a rutrum varius
            </p>
          </div>
        </div>
        <div
          class="col-md-3 wow fadeInLeft"
          data-wow-offset="0"
          data-wow-delay="0.3s"
        >
          <div class="text-center">
            <img
              src="https://cp.peoplemedia.com/site/general/pm2515/images/m3.jpg"
              class="img-responsive"
              alt=""
            />
            <h2>John Smith</h2>
            <h4>Creative Director</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit Fusce
              fermen tum neque a rutrum varius
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/#our-team-->

<!-- <div class="parallax-window">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.2s">
        <h2>Get In Touch With US</h2>
      </div>
       <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.6s">
        <p>In a elit in lorem congue varius Sed nec arcu<br> ullamcorp-er tellus ut dignissim nisi risus non tortor.
        </p>
      </div>
    </div>
  </div>
  <div class="sub-parallax">
    <div class="text-center">
      <div class="col-md-12">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.9s">
          <form class="form-inline">
            <div class="form-group">
              <button type="purchase" name="purchase" class="btn btn-primary btn-lg" required="required">Contact US</button>
            </div> 
            <div class="form-group">
              <button type="subscribe" name="subscribe" class="btn btn-primary btn-lg" required="required">Subscribe Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--/#parallax-window-->

<footer>
  <div id="contact">
    <div class="container">
      <div class="text-center">
        <h3>Contact Us</h3>
        <p>For any queries please contact us .</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-md-4 wow fadeInUp"
          data-wow-offset="0"
          data-wow-delay="0.2s"
        >
          <h2>Contact us any time</h2>
          <p>
            In a elit in lorem congue varius. Sed nec arcu. Etiam sit amet
            augue. Fusce fermen tum neque a rutrum varius odio pede ullamcorp-er
            tellus ut dignissim nisi risus non tortor. Aliquam mollis neque.
          </p>
        </div>

        <div
          class="col-md-4 wow fadeInUp"
          data-wow-offset="0"
          data-wow-delay="0.4s"
        >
          <h2>Contact Info</h2>
          <ul style="font-family: Arial, Helvetica, sans-serif;font-size: 16px">
            <li>
              <i class="fa fa-home fa-2x"></i> Office # 38, Suite 54 Elizebth
              Street, Victoria State Newyork, USA 33026
            </li>
            <hr />
            <li><i class="fa fa-phone fa-2x"></i> +38 000 129900</li>
            <hr />
            <li><i class="fa fa-envelope fa-2x"></i> info@domain.net</li>
          </ul>
        </div>

        <div
          class="col-md-4 wow fadeInUp"
          data-wow-offset="0"
          data-wow-delay="0.6s"
        >
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                data-rule="required"
                data-msg="Please write something for us"
                placeholder="Message"
              ></textarea>
              <div class="validation"></div>
            </div>

            <button type="submit" class="btn btn-theme pull-left">
              SEND MESSAGE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/#contact-->
  <div style="background-color :#3B5998;height: 350px;">
    <div class="container">
      <div class="sub-footer">
        <div class="text-center">
          <div class="col-md-12">
            <form class="form-inline">
              <div class="form-group">
                <button
                  type="purchase"
                  name="purchase"
                  class="btn btn-primary btn-lg"
                  required="required"
                >
                  Enter Your Email
                </button>
              </div>
              <div class="form-group">
                <button
                  type="subscribe"
                  name="subscribe"
                  class="btn btn-primary btn-lg"
                  required="required"
                >
                  Subscribe Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="social-icon">
      <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <ul class="social-network">
            <li>
              <a href="#" class="fb tool-tip" title="Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#" class="twitter tool-tip" title="Twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" class="gplus tool-tip" title="Google Plus"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
            <li>
              <a href="#" class="linkedin tool-tip" title="Linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#" class="ytube tool-tip" title="You Tube"
                ><i class="fa fa-youtube-play"></i
              ></a>
            </li>
            <li>
              <a href="#" class="dribbble tool-tip" title="Dribbble"
                ><i class="fa fa-dribbble"></i
              ></a>
            </li>
            <li>
              <a href="#" class="pinterest tool-tip" title="Pinterest"
                ><i class="fa fa-pinterest-square"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="text-center"
      style="font-size:18px;color: #ffff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; "
    >
      <div class="copyright">
        &copy; VsearchForU. All Rights Reserved.
        <div class="credits ">
          Designed by
          <a href="https://bootstrapmade.com/"><b>VsearchForU</b></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
